
.idea/CppEx.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vscode/launch.json
*.txt
*.bin
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/untitled.dir/build.make
cmake-build-debug/CMakeFiles/untitled.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/untitled.dir/CXX.includecache
cmake-build-debug/CMakeFiles/untitled.dir/depend.internal
cmake-build-debug/CMakeFiles/untitled.dir/depend.make
cmake-build-debug/CMakeFiles/untitled.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/untitled.dir/Factory.cpp.obj
cmake-build-debug/CMakeFiles/untitled.dir/flags.make
cmake-build-debug/CMakeFiles/untitled.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/untitled.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/untitled.dir/objects.a
cmake-build-debug/CMakeFiles/untitled.dir/objects1.rsp
cmake-build-debug/CMakeFiles/untitled.dir/progress.make
cmake-build-debug/CMakeFiles/untitled.dir/Workers/BasicWorker.cpp.obj
cmake-build-debug/CMakeFiles/untitled.dir/Workers/Ehud.cpp.obj
cmake-build-debug/CMakeFiles/untitled.dir/Workers/Pini.cpp.obj
cmake-build-debug/CMakeFiles/untitled.dir/Workers/Youngster.cpp.obj
cmake-build-debug/Makefile
cmake-build-debug/untitled.cbp
cmake-build-debug/untitled.exe
.idea/.name
.idea/workspace.xml
